/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--background-color);
}

.main {
  padding: 60px 0;
}

@media (width <= 640px) {
  .main {
    padding: 40px 0;
  }
}

.title-decor {
  background-color: var(--accent-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 20px;
  min-height: 100vh;
}

@media (width <= 640px) {
  .header {
    padding: 10px;
  }
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  top: 20px;
  right: 20px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::before {
  left: 20px;
  bottom: 20px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

@media (width < 640px) {
  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::before {
    left: 10px;
    bottom: 10px;
  }
}

.header__rec {
  position: absolute;
  top: 20px;
  right: 28px;
  color: var(--accent-color);
  text-transform: uppercase;
  text-align: center;
  font-size: var(--main-text-size);
  font-weight: 400;
  line-height: 139%;
}

@media (width < 640px) {
  .header__rec {
    top: 10px;
    right: 18px;
  }
}

.header__rec::after {
  content: "";
  display: inline-block;
  background-color: var(--accent-color);
  margin-inline-start: 10px;
  filter: drop-shadow(0 0 4px var(--accent-color));
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media (width <= 768px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    margin-block-start: clamp(4.813rem, -2.165rem + 29.77vw, 12.125rem);
  }
}

.header__theme-menu-item {
  color: var(--button-color);
  font-size: var(--main-text-size);
  font-weight: 400;
  line-height: var(--main-line-height);
}

.header__theme-menu-button {
  position: relative;
  display: block;
  padding: 2px 13px;
  text-transform: lowercase;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  appearance: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible::after {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 1px;
  background-color: var(--button-color);
  inset-block-end: -2px;
  inset-inline-start: 0;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__content {
  display: flex;
  flex-direction: column;
  gap: 114px;
  padding: 273px 0 135px;
}

@media (1024px > width >= 768px) {
  .header__content {
    gap: calc(162px - (162 - 114) * (100vw - 768px) / (1024 - 768));
  }
}

@media (width <= 768px) {
  .header__content {
    gap: calc(55px + (162 - 55) * (100vw - 320px) / (768 - 320));
    padding: calc(65px + (173 - 65) * (100vw - 320px) / (768 - 320)) 0
      calc(66px + (183 - 66) * (100vw - 320px) / (768 - 320));
  }
}

.header__logo {
  margin-inline-start: -20px;
  color: var(--logo-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-size: clamp(6.25rem, 4.631rem + 8.1vw, 9.813rem);
  font-weight: 700;
  line-height: 82.5%;
}

@media (width <= 640px) {
  .header__logo {
    margin-inline-start: 0;
  }
}

.header__subtitle {
  display: inline-block;
  align-self: flex-end;
  color: var(--subtitle-text);
  font-size: var(--main-text-size);
  font-weight: 700;
  line-height: var(--main-line-height);
  width: clamp(22.75rem, -1.063rem + 49.61vw, 30.688rem);
}

@media (width <= 640px) {
  .header__subtitle {
    align-self: stretch;
    width: 100%;
  }
}

.section {
  padding: 0 20px;
}

@media (width <= 640px) {
  .section {
    padding: 0 10px;
  }
}

.main__section {
  margin-block-end: 80px;
}

.main__section:last-of-type {
  margin-block-end: 60px;
}

@media (width <= 640px) {
  .main__section {
    margin-block-end: 50px;
  }
}

.section__two-columns {
  display: grid;
  grid-template-columns: clamp(14.75rem, -0.063rem + 30.86vw, 19.688rem) 1fr;
  gap: 20px;
}

@media (width <= 640px) {
  .section__two-columns {
    display: flex;
    flex-direction: column;
  }
}

.section__heading {
  font-size: var(--main-text-size);
  font-weight: 700;
  line-height: var(--main-line-height);
  color: var(--title-text-color);
}

.section__title {
  margin-block-end: 10px;
  font-size: var(--main-text-size);
  font-weight: 700;
  line-height: var(--main-line-height);
  color: var(--subtitle-text);
}

.section__title_margin {
  margin-block-end: 20px;
}

.section__subtitle {
  margin-block-end: 10px;
  font-size: var(--main-text-size);
  font-weight: 400;
  line-height: var(--main-line-height);
  color: var(--subtitle-text);
}

.section__paragraph {
  margin-block-end: 20px;
  font-size: var(--main-text-size);
  font-weight: 400;
  line-height: var(--main-line-height);
  color: var(--text-color);
}

.section__paragraph:last-of-type {
  margin-block-end: 0;
}

.section__paragraph a {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width > 768px) {
  .section__paragraph a:hover {
    border-block-end: 1px solid currentColor;
  }
}

.section__three-columns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__three-columns h2.section__heading {
  width: clamp(14.75rem, -0.063rem + 30.86vw, 19.688rem);
}

@media (width <= 640px) {
  .section__three-columns h2.section__heading {
    width: 100%;
  }
}

.section__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (width <= 900px) {
  .section__grid {
    display: flex;
    flex-direction: column;
  }
}

.section__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (width <= 640px) {
  .section__gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image_sunset {
  grid-column: span 2;
}

.image_ice-cream {
  grid-row: span 2;
}

.image_tape {
  grid-row: span 3;
}

.image_street {
  grid-row: span 2;
  grid-column: span 2;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
}

.footer__title {
  align-self: center;
  text-align: center;
  color: var(--logo-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-size: clamp(6.25rem, 4.631rem + 8.1vw, 9.813rem);
  font-weight: 700;
  line-height: 82.5%;
}
